{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row">
	<div class="col-sm-6 offset-sm-3 mybox p-4">
		<h1>My Login</h1>
		<hr>
		<form enctype="multipart/form-data" method="post">
		{% csrf_token %}
		{{ form|crispy }}<br>
		<input class="btn btn-primary" type="submit" value="Login"/>
<!-- 		<a class="btn btn-success" href="/accounts/register">Register Now</a>
		<a class="btn btn-danger" href="/accounts/password/reset">Reset Password</a> --> 
		<br><br>
		admin log in -> Username: admin passwoord: admin
		</form>	
	</div>
</div>
{% endblock %}
